@charset "UTF-8";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
/* règlement taille et police */
p{
    font-size: 20px;
}
.text-muted{
    font-family: 'Comporter Brush'cursive, ;
    font-family: 'Estonia', cursive;
    font-size: 35px;

}

/* flip card container, réglage width et height, 3d et couleurs */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 20rem;
    perspective: 1000px; 
}

/* Contenair obligatoir pour la transition */
.flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 1.6s;
    transform-style: preserve-3d;
}

/* Réglage tôt de transition */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Taille, positionnement du front et du back des cards */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}



/* Gestion du style avant arrière */
.flip-card-back {
    transform: rotateY(180deg);
}


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
